{% extends 'shopping/base.html' %} {% load split_tag %} {% block content %}

<style type="text/css">
  .img {
    width: 40%;
    height: 250px;
  }

  @media only screen and (max-width: 768px) {
    .img {
      width: 100%;
    }
  }
</style>

<form
  action="search_product.php"
  method="get"
  style="display: block; margin-top: -20px; width: 100%"
>
  <input
    type="text"
    name="keyword"
    style="
      border-radius: 10px;
      margin: auto;
      height: 30px;
      width: 50%;
      padding-left: 5px;
      margin-top: 30px;
    "
  />
  <input
    type="submit"
    value="Gözle"
    class="button"
    style="
      height: 30px;
      line-height: 0px;
      width: 20%;
      border-radius: 10px;
      padding-left: 10px;
    "
  />
</form>

<div class="form-group row">
  <h6>Welayaty</h6>
  <div class="col-lg-8">
    <select class="form-control" id="velayat">
      <option>Hemmesi</option>
      <option>Balkan</option>
      <option>Ahal</option>
      <option>Mary</option>
      <option>Lebap</option>
      <option>Dashoguz</option>
    </select>
  </div>

  <div class="col-lg-2">
    <input
      class="btn btn-primary w-50"
      type="button"
      onclick="filter()"
      value="Filter"
    />
  </div>
</div>
<script>
  data = [];
  {% for product in services %}
      velayats = ['hemmesi'];
      {% for velayat in product.market.place|get_velayats %}
          velayats.push("{{velayat}}");
      {% endfor %}
      item = {}
      item['id'] = "{{product.pk}}"
      item['name'] = "{{product.name}}";
      item['price'] = "{{product.price}}";
      item['about'] = "{{product.about}}";
      item['category'] = ['Hemmesi', "{{product.market.category}}"];
      item['date'] = "{{product.date}}"
      item['pic1'] = "{{product.image.url}}";
      item['market_name'] = "{{product.market.name}}";
      item['number'] = "{{product.market.phone_number}}";
      item['market_code'] = "{{product.market.code}}"
      item['velayat'] = velayats;
      data.push(item);
  {% endfor %}
</script>

<div class="all_services"></div>

<script>
  favourites = [];
  {%for fav in favourites%}
  velayats = ['hemmesi'];
        {% for velayat in fav.product.market.place|get_velayats %}
            velayats.push("{{velayat}}");
        {% endfor %}
        item = {}
        item['id'] = "{{fav.product.pk}}"
        item['name'] = "{{fav.product.name}}";
        item['price'] = "{{fav.product.price}}";
        item['about'] = "{{fav.product.about}}";
        item['category'] = ['Hemmesi', "{{fav.product.market.category}}"];
        item['date'] = "{{fav.product.date}}"
        item['pic1'] = "{{fav.product.image.url}}";
        item['market_name'] = "{{fav.product.market.name}}";
        item['number'] = "{{fav.product.market.phone_number}}";
        item['market_code'] = "{{fav.product.market.code}}"
        item['velayat'] = velayats;
        favourites.push(item);
  {% endfor %}
</script>

<script>
  durum = 3;
  durum2 = 0;
  function uytget(n) {
    if (durum % 2 == 1) {
      var button = document.getElementsByClassName(n);
      button[0].style.display = "none";
      button[1].style.display = "block";
      button[3].innerHTML = "Gizle";
      var div = document.getElementById(n);
      div.style.height = "auto";
      durum = durum + 1;
      durum2 = n;
    } else if (durum % 2 == 0) {
      var button = document.getElementsByClassName(n);
      button[0].style.display = "inline";
      button[1].style.display = "none";
      button[3].innerHTML = "Doly görkez";
      var div = document.getElementById(n);
      div.style.height = "200px";
      durum = durum + 1;
    }
  }
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides2(k, n) {
    durum2 = k;
    plusSlides(n);
  }

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    var i;
    var slides2 = document.getElementsByClassName(durum2);
    var slides = [];
    slides.push(slides2[2]);
    slides.push(slides2[3]);
    slides.push(slides2[4]);
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    // for (i = 0; i < slides.length; i++) {
    //     slides[i].style.display = "none";
    // }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    // slides[slideIndex-1].style.display = "block";
    // dots[slideIndex-1].className += " active";
  }
  console.log(data);
</script>

<script>
  let min_price = 0;
  let max_price = 3000;

  $(document).ready(function () {
    showAllItems();
  });

  function filter() {
    min_price = parseInt(document.getElementById("min").value);

    if (isNaN(min_price)) {
      min_price = 0;
    }

    max_price = parseInt(document.getElementById("max").value);

    if (isNaN(max_price)) {
      max_price = 10000000;
    }
    vel = document.getElementById("velayat").value.toLowerCase();
    cat = document.getElementById("category").value;
    showItemsFiltered();
  }

  function showItemsFiltered() {
    //Default grid to show all items on page load in
    $(".all_services").empty();
    for (let i = 0; i < data.length; i++) {
      categor = data[i]["category"];
      if (
        data[i]["price"] <= max_price &&
        data[i]["price"] >= min_price &&
        data[i]["velayat"].indexOf(vel) > -1 &&
        data[i]["category"].indexOf(cat) > -1
      ) {
        let item_content =
          `<div id=` +
          data[i]["id"] +
          ` style='border:1px solid black;margin-bottom:20px;border-radius:5px;padding:5px;height:200px;text-size:16px; overflow:hidden'> <li style='text-align:center'>
        <img src=` +
          data[i]["pic1"] +
          ` class=` +
          data[i]["id"] +
          ` style='float:left; height:200px;'>
        
        <div class=` +
          data[i]["id"] +
          ` style='display:none'>
        <div class='slideshow-container'>

<div class='fade ` +
          data[i]["id"] +
          `'>
  <div class='numbertext'>1 / 3</div>
  <img src="` +
          data[i]["pic1"] +
          `" class='img'>
</div>
<div id="myModal" class="modal">

  <span class="close">&times;</span>

  <img class="modal-content" id="img01">

  <div id="caption"></div>
</div>


<a class='prev' onclick="plusSlides2(` +
          data[i]["id"] +
          `,-1)">&#10094;</a>
<a class='next' style='background-color:black' onclick="plusSlides2(` +
          data[i]["id"] +
          `,1)">&#10095;</a>

</div>
<br>

<div style='text-align:center'>
  <span class='dot' onclick='currentSlide(1)'></span> 
  <span class='dot' onclick='currentSlide(2)'></span> 
  <span class='dot' onclick='currentSlide(3)'></span> 
</div>
        
        </div>
        <h3>Ady: ` +
          data[i]["name"] +
          `</h3>
        <h4>Bahasy: ` +
          data[i]["price"] +
          ` manat</h4>
        <h5>Kategoriyasy: ` +
          categor +
          `</h5>
        <h6>Maglumat: ` +
          data[i]["about"] +
          `</h6>
        <hr>
        <h6>` +
          data[i]["market_name"] +
          `   (` +
          data[i]["number"] +
          `)   (` +
          data[i]["market_code"] +
          `)</h6>
        </div>
        </li>
        <button id='button' class='button ` +
          data[i]["id"] +
          `' style='border-radius:10px; height:30px; line-height:0px;margin:auto; margin-top:-10px; margin-bottom:20px; width:80%;' onclick='uytget(` +
          data[i]["id"] +
          `)'>Doly gorkez</button>        
`;
        $(".all_services").append(item_content); //Display in grid
      }
    }
  }

  function showAllItems() {
    //Default grid to show all items on page load in
    $(".all_services").empty();
    for (let i = 0; i < data.length; i++) {
      categor = data[i]["category"];
      let item_content =
        `<div id=` +
        data[i]["id"] +
        ` style='border:1px solid black;margin-bottom:20px;border-radius:5px;padding:5px;height:200px;text-size:16px; overflow:hidden'> <li style='text-align:center'>
        <img src=` +
        data[i]["pic1"] +
        ` class=` +
        data[i]["id"] +
        ` style='float:left;height:200px;'>
        
        <div class=` +
        data[i]["id"] +
        ` style='display:none'>
        <div class='slideshow-container'>

<div class='fade ` +
        data[i]["id"] +
        `'>
  <div class='numbertext'>1 / 3</div>
  <img src="` +
        data[i]["pic1"] +
        `" class='img'>
</div>
<div id="myModal" class="modal">

  <span class="close">&times;</span>

  <img class="modal-content" id="img01">

  <div id="caption"></div>
</div>


<a class='prev' onclick="plusSlides2(` +
        data[i]["id"] +
        `,-1)">&#10094;</a>
<a class='next' style='background-color:black' onclick="plusSlides2(` +
        data[i]["id"] +
        `,1)">&#10095;</a>

</div>
<br>

<div style='text-align:center'>
  <span class='dot' onclick='currentSlide(1)'></span> 
  <span class='dot' onclick='currentSlide(2)'></span> 
  <span class='dot' onclick='currentSlide(3)'></span> 
</div>
        
        </div>
        <h3>Ady: ` +
        data[i]["name"] +
        `</h3>
        <h4>Bahasy: ` +
        data[i]["price"] +
        ` manat</h4>
        <h5>Kategoriyasy: ` +
        categor +
        `</h5>
        <h5>Maglumat: ` +
        data[i]["about"] +
        `</h5>
        <h5>Goşulan wagty: ` +
        data[i]["date"] +
        `</h5>
        <hr>
        <h6>` +
        data[i]["market_name"] +
        `   (` +
        data[i]["number"] +
        `)   (` +
        data[i]["market_code"] +
        `)</h6>
        </div>
        </li>
        <button id='button' class='button ` +
        data[i]["id"] +
        `' style='border-radius:10px; height:30px; line-height:0px;margin:auto; margin-top:-10px; margin-bottom:20px; width:80%;' onclick='uytget(` +
        data[i]["id"] +
        `)'>Doly gorkez</button>        
`;

      $(".all_services").append(item_content);
    }
  }
</script>

{% endblock content %}
