{% extends 'base/base.html' %} {% block content %}

<p style="font-size: medium">
  Hytaý dilini öwrenmäge başlamak üçin Türkmen dili bilen hytaý diliniň birnäçe
  tapawutlaryna seredip geçeliň mysal üçin biz sesleri hata geçirmek üçin
  harplary ulanýarys mysal uçin (Türkmenistan) hytaý dilinde sesi hata geçirmek
  üçin bogunlary ulanýalar muňa mysal: <br />
  ( 土库曼斯坦) bu bogunlaryny harplara bölsek 土tu, 库ku, 曼man, 斯si, 坦tan,
  bu ýerde bogunlarynyň sesleri ulanylan, bu ýagdaýy adyny üýtgetmeseň gowy
  bolan sözlerde ulanylýar mysal üçin ýurduň atlary ýada adam atlary, zawod
  atlary ýaly ýagdaýlarda ulanýarlar, ýöne bir zat galdy bogunlary goşup ýazaly
  (tu,ku,man,si,tan) näme üçin sesini biziňkä meňzeş ýazyp bolmady??? Sebabini
  giňişleýin düşindireýin biziň Türkmen dilimizdäki 30 harp bilen ähli
  sözlermizi bolşy ýaly ýazyp bilýäris, hytaý dilinde harp ulanylman bogun
  ulanýarlar diýip geçipdik oda bary ýogy 600 bogun, bu 600 bogun bilen ahli
  zadyň sesini bolşy ýaly ýazyp bolmaýar, mysal Türkmenistanyň türk sesine derek
  tu, sesini ulandy sebabi muňa ýakyn başga bogunlary ýok, geliň indi t
  harpyndan gelýän bogunlaryna seredeliň ta, te, ti, tu, tai, tei, tui, tao,
  tuo, tie, tan, tun, taň, teň, tiň, toň, tiao, tian, tuan, tuo. Boldy t
  harpyndan başlaýan bogunlary şulardan ybarat, başga t harpyndan gelýän ses
  bogun ýok, şeýlelik bilen ähli sözleri hytaý dilinde bolşy ýaly sesde ýazyp
  bolmaýar, ýöne bu gurluşyň artykmaç taraplary hem bar, bular barada bellesek
  esasy gepleşiklerde her bogunyň terjimesi bar, mysal: ulag-车(çe) ýada
  internet diýeli 上网(shaň waň) gönümel terjime etsek (ýokarky tor), indi men
  车 sözüne gabat gelemde okalyş sesi ýadyma düşmesede ýada okalyş sesini doly
  bilmämdede şu harplaryny öz dilimde ulag diyip okap bilerin, ýada上网 men muny
  (ýokarky tor) diýip oz dilimde okap bilýärin ýokarky tor diylende ilkinji
  internet gözegiňe gelýär, geliň hytaý diliniň taryhy barada durup geçeliň,
  hytaý ýurdynyň içinde dürli dilli milletler kän bolan bular bilen ses arkaly
  duşünişmek mümkin bolmadyk, sebabi iki milletiň dilleri meňzeş bolmadyk, bu
  ýagdaýda harpa derek şekil ulanylmasy ygtybarly bolan we ýazylan şekilli
  hatlary her millet öz dilinde okap bilmäge mümkinçilik bolupdyr, ýene mysal
  getireli 我去men gidýän, hytaý dilinde näme ses berýänini bilmesem hem
  manysyna öz dilimde duşündim, ýöne häzirki zaman tehnologiýalarda bu şekil
  hatlaryny çalt ýazmak üçin hytaý diliniň sesini bilmeli bolýar, mysal munça
  şekil hatlary klawiatura ýerleşdirip bolmaýanlygy sebäpli aňsatlaşdyryp sesini
  latyn harpda ýazsaň şekilli harplary ekrana çykarýan programmalar döredilen,
  bu aydýan programmamyzy nädip kompýuterimize ýada el telefonlarymyza nädip
  gurnamalydygy barada wideo düşündirşimizde doly ýagdaýda düşündirip geçeris<br />
  Ýene köp beriljek soraglaryň biri bolan ýokarda belläp geçildi 600 bogun bar
  diýlip 600 bogun bilen nädip milyardlarça sözleri düzýärler muňa düşündiriş
  geçmek üçin bir sözi mysala alaly mysal üçin (si) boguny alalyň si bogundan
  emele gelýän sözlere
  seredeli（dört-四si）（umyt-思si）（sapak-丝si）（ýadaw-思si）（ölüm-死si）başgada
  kän…… <br />
  Bir sesde näçe söz bar bulary nähili tanajak diýilse öz dilimizden mysal
  getirjek oňa mysal: (tut) tut diýip bag hem bar, bir zady tut diýip işlik hem
  bar, ýöne bizde esasy bir ses esasy iki many barýan üç many berýän kän ýok,
  hytaýda bolsa bir ses gaty kän many berýär, gaýta bir sesiň bir many berýäni
  ýok, bulary tanamak üçin diňe sesiň tonlaryna üns bermeli bolýar, ton bolanda
  tuuut diyemizde bagyň adyny berdi, tut diýemizde welin bir zady tutmak manyny
  berdi, hytaý sözlerini ýat tutmak kyn görünýärmi? Ol asla kyn däl gaýta aňsat,
  sözleri ýat tutmakda artykmaç taraplrayna seredeli mysal （dört-四si） sözüni
  ýat tutduk welin （umyt-思si）（sapak-丝si）（ýadaw-思si）（ölüm-死si） sesi
  meňzeş sözler gapdaly bilen öwrenmesizden ýadyňyza geler, sesleriň tony diňe
  ýüzbe ýüz gepleşiklerde ulanylýar, internet ýa sms ýazylanda klawiaturada ses
  tony ulanylmaýar.
</p>

<script type="text/javascript">
  item = document.getElementById("4th").classList.add("leftbarcurrent");
</script>

{% endblock content %}
