{% extends 'base/base.html' %} {% block content %}

<p style="text-align: left; font-size: medium">
  Iňlis diline girişmek üçin ilki iňlis dili barada düşünje almagy dogry
  hasaplaýaryn, bu diýýän düşünjämiz has düşnükli bolar ýaly Türkmen dili bilen
  Iňlis dilini deňeşdirip pikirlenşeli, mysal üçin türkmen dilinde sesi hata
  geçirmek üçin harplar ulanylan, iňlis dili hem şolar ýaly sesi harplar arkaly
  hata geçirýärler, ýöne bir tapawut çekimli harplaryň täsiri barada durup
  geçeliň, türkmen dilinde çekimli harplar sözüň manysyny üýtgedip bilýär mysal
  üçin pil (jandar), piiil (gural), iňlis dilinde welin çekimli harplar söziň
  manysyny üýtgetmän harpyň sesini üýtgedýar, mysal getireli “a” harpyň sesiniň
  üýtgeýşi (game=geým) oýun, (faсt=fäkt) maglumat, (star=star) ýyldyz, çekimli
  harplaryň täsirini barada aşakda belläliň.<br />
  a- (game=geým) oýun, (faсt=fäkt) maglumat, (star=star) ýyldyz, (stare=)….<br />
  o- (pole=)...., (hot=)...., (sport=)...,(more=)...<br />
  e- (pete=)....,(sent=)...,(trem=)...,(here=)..<br />
  i- (fine=faýn) gowy, (win=)..,(first=först)birinji, (tired=)<br />
  u- (tune=)....,(club)…,(turn)…,(cure=)<br />
  Başgada käbir harplar goşa ýazylyp sesini üýtgedip hem bilýär. Eger “o” (
  biziň sesimizde 'öw' sesini berýär ) harpy iki gezek yzly yzyna ýazylsa OO=u
  sesini berýär mysal üçin sözlerde göreliň: book (buk), look (luk), school
  (skul), ýene-de goşa gelende üýtgeýän harplar kän bular barada aşakdaky
  tablissa ünsümizi çekeli<br />
  OO=u (pool=pul) meýdança<br />
  ee=i (see=si) görmek<br />
  ea=i (tea=ti)çaý. Ýöne gönümel okalýan ýagdaýy hem bar muňa mysal:break=break
  (döwmek) <br />
  ch=ç (china=çaýna) hytaý<br />
  sh=ş (shop=şop) dükan<br />
  ck=k (back=bäk) yza<br />
  ph=f (photo=foto) surat<br />
  th=s (thank=sank) minnetdar<br />
  wh=w (when=wen) haçan. Eger wh o harpyndan öň gelse h diýlip okalýar, mysal
  üçin who=hu (kim), <br />
  wr=r (write=raýt) ýazmak<br />
  ng=ň (song=soň) aýdym: bu ýagdaý sözüň ahyrynda gelende ň sesi berýär, eger ng
  sozing ortasynda gelende sesi üýtgemän öz okalşy ýaly okalýar mysal üçin
  (english=engliş) <br />
  kn=n (know=now) bilmek<br />
  w=w bu harpy köplenç biz dablýu diýip eşitýas ýöne bu w sesi berýär, dabilýu
  diýmegiň terjimesi goşa u diýmek bolýar sebäbi W harpyň görnüşi goşa UU
  harpyna meňzeýär, <br />
  başgada alynma sözler hem gabat gelýär , alynma diýmek başga dillerden gelip
  ornan dillere aýdylýar, mysal üçin iňlis diline gerek dilinden gelen sözi
  alalyň school=skul(mekdep) bu ýerde ch harpy ç diýlip okalman k diýlip okaldy,
  sebabi bu söz alynma sözi bolup dur ýene-de bir mysal getireli iňlis diline
  fransuz dilinden gelen soz Machine=maşine(enjam) bu ýerde ch-ç diýlip okalman
  ş diýlip okaldy. <br />
  Iňlis diliniň hatynda çylşyrymlylyk kän (one=wan) bir, ýöne bu ýagdaýlaryň kyn
  we çylşyrymlygyna sussuňyzy basdyrmaň, bu tapawutlary öwrenmän hem iňlis
  dilini öwrenip bilersiňiz, harplardaky ses üýtgemeleri sözlük öwrenýärkäk köp
  ýazyp ýat tutmak arkaly öwreneris, iňlis dilinde erkin gepleşip bilýänleriň
  köpüsi bu çylşyrymly ýagdaýlary bilenoklar, emma iňlis dilinde erkin gürläp
  bilýärler. Ýakyn ýol web saýtymyz dil öwrenmek üçin başardygmyzdan ygtybarly
  kodlaşdyrýarys, we geljekde hem siz bilen pikir alyşyp size has peýdaly web
  saýta öwüreris diýip umyt edýäris. Good luck!
</p>

<script type="text/javascript">
  item = document.getElementById("2nd").classList.add("leftbarcurrent");
</script>

{% endblock content %}
